.chooseUs-image {
  position: absolute;
  left: 0;
  bottom: 1rem;
  max-height: 35rem;
  max-width: 30rem;
}

.red-span {
  position: absolute;
  background-color: red;
  border-radius: 0.5rem;
}

.short-span {
  width: 0.5rem;
  height: 15rem;
  bottom: 1rem;
  left: -1rem;
}

.long-span {
  width: 0.5rem;
  height: 22rem;
  bottom: 6rem;
  left: 27.5rem;
  transform: rotate(354deg);
}

.image-play-btn {
  position: absolute;
  bottom: 16rem;
  left: 11rem;
  width: 4.5rem;
  height: 4.5rem;
  color: white;
  background-color: red;
  border-radius: 100%;
  border: none;
  cursor: pointer;
}

.chooseUs-redBg {
  position: absolute;
  top: 6.5rem;
  left: -2.5rem;
  width: 15rem;
}

.chooseUs-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 1rem;
  max-width: 65%;
  min-width: 30rem;
}

.chooseUs-btn {
  padding: 1rem;
  margin-top: 1rem;
  width: 12rem;
  height: 3.5rem;
  background-color: #5b625f;
  color: #fff;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.85rem;
  font-weight: 700;
}
