.red-bg-heading-container {
  display: grid;
  place-items: center;
  background-image: url("../../assets/../images/choose-us/title-bg.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 100%;
  padding: 0.5rem 2rem;
  color: #fff;
}

.red-bg-heading-container h1 {
  font-size: 1.2rem !important;
  font-weight: 700;
  margin: 0;
}
