.introduce-card-container {
  display: flex;
  gap: 1.5rem;
  margin-top: -5rem;
}

.introduce-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;
  box-shadow: -6px 23px 71px -40px rgba(66, 68, 90, 1);
  border-radius: 3rem 0;
}

.introduce-card:hover {
  background-image: url("../../assets/images/who-we-are/info-card-bg.jpg");
  color: #fff;
}

.introduce-card h1 {
  font-size: 1.6rem;
}

.introduce-card p {
  font-family: sans-serif;
}

.introduce-card-icon {
  font-size: 5rem;
  color: red;
}

.introduce-info-container {
  display: flex;
  align-items: center;
  margin-top: 10rem;
}

.info-text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.info-text-container p {
  position: relative;
  font-size: 1rem;
  opacity: 0.7;
  letter-spacing: 0.7px;
}

.introduce-icon-container {
  display: flex;
  align-items: center;
  width: 55rem;
}

.introduce-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  white-space: no-wrap;
  width: 25%;
}

.icon-border {
  border-left: 2px solid rgba(0, 0, 0, 0.147);
  border-right: 2px solid rgba(0, 0, 0, 0.147);
}

.introduce-icon img {
  width: 4rem;
  aspect-ratio: 1/1;
}

.introduce-icon h2 {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.75rem;
}

.introduce-btn {
  width: 12rem;
  aspect-ratio: 1/0.25;
  background-color: rgb(79, 69, 69);
  padding: 1rem 0;
  color: #fff;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
}

.info-image-container {
  position: relative;
  width: 40rem;
}

.info-image-container > img {
  position: absolute;
}
.girl-img {
  height: 31rem;
  width: 32rem;
  bottom: -12rem;
  right: 3rem;
  z-index: 2;
}
.girl-bg-img {
  max-height: 31rem;
  bottom: -12rem;
  right: 8rem;
}

.girl-sidetext-img {
  height: 40rem;
  bottom: -18rem;
  right: 30rem;
  z-index: 1;
}

.wind-img {
  height: 4rem;
  right: 15rem;
  top: -6rem;
}
