.join-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/features/cta-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 13rem;
  width: 100%;
}

.join-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 70%;
  max-width: 80vw;
}

.join-heading {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.join-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    width: 12rem;
    height: 3.5rem;
    margin-left: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.85rem;
    font-weight: 700;
    background-color: #fff;
    border: none;
}