.join-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/images/features/cta-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 13rem;
  width: 100%;
}

.join-wrapper {
  display: flex;
  align-items: center;
  width: 70rem;
}
