.classes-main-wrapper {
  background-color: #fff;
  color: #000000;
}

.classes-image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  height: 50rem;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto; 
    height: fit-content;
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.classes-image-grid :first-child,
.classes-image-grid :last-child {
  grid-column: span 2;
  @media (max-width: 1024px) {
    grid-column: span 1;
  }
}
